@charset 'utf-8';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eff2f8;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 101;
}
.search{
    height: 60px;
    background-color: white;
    display: flex;
}
.menu_list{
    height: 52px;
    background-image: linear-gradient(to right,#0eca68,#00bf5f);
    position: relative;
    overflow: hidden;
}
.menu_list2{
    background-image: linear-gradient(to right,#f09dba,#b781d6 50%,#8981e6);
}
.body{
    margin-top: 112px;
    position: relative;   
}
.body::after{
    clear: both;
    content: "";
    display: block;
    
}
.contents{
    width: 50%;
    background-color: white;
    margin-bottom: 10px;
}
/* 홀수번째 요소 왼쪽으로 */
.contents:nth-of-type(2n-1){
    float: left;
}
/* 짝수번째 요소 오른쪽으로 */
.contents:nth-of-type(2n){
    float: right;
}
.economy{
    height: 337.8px;
}
.news_all{
    height: 200px;
}
.news_location{
    height: 141.34px;
}
.pan{
    height: 174px;
}
.news_list{
    height: 547px;
}
.broadcast{
    height: 435.8px;
}
.press{
    height: 387px;
}
.internet{
    height: 338px;
    position: relative;
}
.edit{
    height: 90.8px;
}
.ad{
    height: 140px;
}
.line{
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 0.5px);
    background-color: #efefef;
    z-index: 100;
}
.logo{
    position: relative;
    width: 54px;
    padding: 19px 14px 19px 15px;
}
.logo_icon{
    width: 24px;
    height: 22px;
    background-position: -32px -312px;
}
.search_line{
    height: 22px;
    width: 1px;
    background-color: #eceff3;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: -1px;
    
}
.search_btn_group{
    width: 137px;
    display: flex;
    padding: 0 7px;
}
.search_btn_group>button{
    all:unset;
    width: 40px;
    margin-right: 1px;
    height: 60px;
    display: block; 
}
.btn_mic,
.btn_loc,
.btn_pic{
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
.btn_mic{
    background-position: -321px -93px;
}
.btn_loc{
    background-position: -321px -60px;
}
.btn_pic{
    background-position: -321px -27px;
}
.search_input{
    width:calc(100% - 54px - 137px);
    padding: 17px 0 16px 14px;
}
.search_input>input{
    width: 100%;
    height: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.4px;
}
.search_input>input::placeholder{
    color: #c7cad1;
}
/* 검색창 눌렀을 때 */
.search_in{
    position: absolute;
    margin-top: 0.5px;
    width: 100vw;
    height: 100vh;
    background-color: #e6e9f3;
    z-index: 300;
}
.search_in_top{
    z-index: 301;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom:0.5px solid #0eca68;
    display: flex;
}
.search_in_backbtn{
    width: 57px;
    height: 60px;
    top: 0;
    left: 0;
    cursor: pointer;
}
.search_in_backbtn_in{
    width: 21px;
    height: 18px;
    background-position: -366px -298px;
    margin: 21px 18px;
}
.search_input2{
    width:calc(100% - 115px);
    padding: 17px 26px 16px 0px;
}
.search_input2>input{
    width: 100%;
    height: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.4px;
}
.search_input2>input::placeholder{
    color: #c7cad1;
}
.search_in_btn{
    all:unset;
    width: 58px;
}
.search_in_btn_icon{
    width: 24px;
    height: 24px;
    background-position: -206px -93px;
    margin: 0 auto;
}
.search_in_mid{
    z-index: 301;
    height: 165px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 53px 0 54px;
    color: #666;
    line-height: 29px;
    font-weight: 400;
    font-size: 17px;
}
.search_in_str1{
    color: #8f8f8f;
    font-size: 15px;
}
.search_in_str2{
    color: #00c73c;
    font-size: 15px;
}
.search_in_bot{
    z-index: 301;
    height: 46px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ecf0f2;
    display: flex;
    padding: 10px 0 10px;
}
.search_in_auto_close{
    padding: 0 7px;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.3px;
    margin-left: 10px;
    cursor: pointer;
}
.auto_close_side{
    float: left;
    height: 13px;
    margin-top: 7px;
    border-left: 1px solid #e2e5e8;
}
.search_in_help{
    padding: 0 7px;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.3px;
    cursor: pointer;
}
.search_in_close{
    padding: 0 7px;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.3px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
/* 인터넷it지 */
.internet_str{
    padding: 3px 15px 10px;
    font-weight: 700;
    font-size: 14px;
    color: #555;
    letter-spacing: -1px;
}
.internet_box{
    padding: 0 9px 14px 10px;
}
.internet_boxs{
    width: 25%;
    float: left;
    margin-bottom: 11px;
}
.internet_boxs::after{
    clear: both;
    content: "";
    display: block;
}
.boxs1{
    position: relative;
    display: block;
    margin: 0 6px 0 5px;
    padding-top: 12px;
    height: 87px;
    background: #f2f4f9;
    border: solid 1px #edeff4;
    border-radius: 3px;
}
.plus_icon{
    position:absolute;
    right: 5px;
    top: 5px;
    width: 13px;
    height: 13px;
    background-position: -594px -429px;
}
.internet_box_logo{
    width: 42px;
    height: 42px;
    position: relative;
    margin: 0 auto;   
}
.internet_box_logo>img{
    border-radius: 21px;
}
.internet_box_logo_name{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -.8px;
    color: #444;
}
.click_box{
    background: #fff;
    border: solid 1px #19c546;
}
.click_icon{
    top: 7px;
    width: 13px;
    height: 10px;
    background-position: -347px -516px;
}
.gudok{
    position: fixed;
    right: 0;
    bottom: 18px;
    left: 0;
    margin-bottom: 0;
    z-index: 2220;
}
.gudok_box{
    background-image: linear-gradient(170deg,#02cf55,#1ec5a2);
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(11,166,92,.3);
    border-radius: 20px;
    border: none;
    width: 220px;
    height: 40px;
    padding: 11px 0 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -1px;
    color: #fff;
}
.list_plus{
    position: absolute;
    top: 0;
    right: 0;
    width: 39px;
    height: 100%;
    padding-right: 6px;
}
.plus_icon2{
    width: 14px;
    height: 14px;
    background-position: -215px -146px;
    margin: 18.5px auto;
}
.menu_list_box{
    min-width: 100%;
    padding-left: 15px;
}
.menu_list_color{
    background-image: linear-gradient(to right,#f09dba,#b781d6 50%,#8981e6);
}
.vogue_in2{
    display: inline-block;
    position: relative;
    height: 52px;
    margin: 0 4px 0 3px;
    padding: 0 4px;
    line-height: 52px;
}
.vogue_in2>div{
    position: relative;
    top: 13px;
}
.todo{
    width: 46px;
    height: 24px;
    background-position: -49px -189px;
}
.enter{
    width: 32px;
    height: 24px;
    background-position: -345px -243px;
}
.pay{ 
    width: 54px;
    height: 24px;
    background-position: -198px -135px;
}
.selective{
    width: 59px;
    height: 24px;
    background-position: -62px -162px;
}
.beauty{
    width: 59px;
    height: 24px;
    background-position: 0 -162px;
}
.vogue{
    width: 45px;
    height: 24px;
    background-position: -260px -216px;
}
.home{
    width: 18px;
    height: 24px;
    background-position: -283px -270px;
}
.news{
    width: 33px;
    height: 24px;
    background-position: -108px -297px;
}
.ent{
    width: 33px;
    height: 24px;
    background-position: -345px -27px;
}
.sports{
    width: 46px;
    height: 24px;
    background-position: -260px -81px;
}
.data{
    width: 60px;
    height: 24px;
    background-position: -135px -108px;
}
.shopping{
    width: 33px;
    height: 24px;
    background-position: -288px -297px;
}
.place{
    width: 60px;
    height: 24px;
    background-position: -63px -81px;
}
.myfeed{
    width: 54px;
    height: 24px;
    background-position: -198px -108px;
}
/* url */
.bg1{background-image: url("https://s.pstatic.net/static/www/m/uit/2019/sp_search_v191106.png");
    background-size: 451px 440px;
    }
.bg2{background-image: url("https://s.pstatic.net/static/www/m/uit/2019/sp_nav_3x_v190731.png");
    background-size: 378px 321px;
}
.bg3{background-image: url("https://s.pstatic.net/static/www/m/uit/2019/sp_cui_v191114.png");
    background-size: 621px 592px;
}
.search_bar::placeholder{
    color: #c7cad1;
    }
.display_none{
    display: none;
}
