@charset 'urf-8';
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      min-width: 1100px;
      position: relative;
  }
   /* header와 관련된 css */
  .header{
      height: 178px;
  }
  .header-top{
      height: 130px;
  }
  .header-bot{
      height: 48px;
      border-top: 1px solid #f1f3f6/*rgb(241, 243, 246)*/;
      border-bottom: 2px solid #f1f3f6/* rgb(209, 216, 228)*/;
  }
  /* main과 관련된 css */
  .main{
      height: 1466px;
 
  }
  .container{
      width: 1080px;
      border: 1px solid none;
      height: 100%;
      margin: 0 auto;
      position: relative;
      
  
  }
  .box-left{
      border: none;
      width: 740px;
      height: 100%;
      float: left;
  }
  .box{
      width: 100%;
      margin-top: 8px;
      border: 1px solid #dee3db;
  }
  .left-contents1,.right-contents1{
      height: 120px;
  }
  .left-contents2{
      height: 46px;
  }
  .left-contents3{
      height: 246px;
  }
  .left-contents4,.right-contents4{
      height: 884px;
  }
  .left-contents5,.right-contents5{
      height: 130px;
  }
  .box-right{
      border: none;
      width: 332px;
      height: 100%;
      float: right;
  }
  .right-contents2{
      height: 142px;
  }
  .right-contents3{
      height: 150px;
  }
  .container::after{
      clear: both;
      content: "";
      display: block;
  }
  /* 헤어 탑과 관련됨 css*/
  .logo{
      width: 198px;
      height: 48px;
      background-position: -4px -4px;
      z-index: 99;
      position: absolute;
      top: 50%;
      left: -2px;
      margin-top: -25px;
  }
  .search-box{
      width: 521px;
      height: 49px;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 219px;
  }
  .search-in{
      border: 2px solid #03cf5d;
      width: 474px;
      height: 49px;
  }
  .search{
      width: 405px;
      height: 23px;
      margin: 12px 0 0 9px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: bold;
      line-height: 23px;
  }
  .keyboard{
      width: 31px;
      height: 41px;
      padding: 15px 6px;  
      display: block;
      position: absolute;
      right: 76px;
      top: 50%;
      margin-top: -21px;
  }
  .keyboard-icon{
      width: 19px;
      height: 11px;
      background-position: -33px -60px;
      display: block;
  }
  .keyboard-icon2{
      width: 19px;
      height: 11px;
      background-position: -60px -60px;
      display: block;
  }
  .auto{
      width: 27px;
      height: 42px;
      padding: 19px 12px 19px 6px;
      display: block;
      position: absolute;
      right: 49px;
      top: 50%;
      margin-top: -21px;
  }
  .auto-in{
      width: 9px;
      height: 4px;
      background-position: -87px -60px;
      display: block;
  }
  .auto-in.active{
      background-position: -138px -60px;
  }
  .search-btn{
      width: 49px;
      height: 49px;
      background-color: #03cf5d;
      position: absolute;
      right: 0;
      top: 0;
  }
  .click-box{
      background-color: white;
      border: 1px solid #bec8d8;
      width: 100%;
      height: 55px;
      margin-top: -2px;
      position: relative;

  }
  .click-box-str{
      line-height: 52px;
      color: gray;
      padding-left: 10px;
      font-size: 13px;
  }
  .click-box2{
      background-color: #f9fafc;
      border: 1px solid #bec8d8;
      width: 100%;
      height: 33px;
      border-top: none;
      z-index: 100;
    
  }
  .click-boxs{
      display: none;
      z-index: 100;
  }
  /*
  부모가 absolute 이고 자식도 absolute이면 자식은 부모를 기준으로함 
  초록화살표 background-position: -138px -60px; 초록키보드 background-position: -60px -60px;
  */
  .search-icon{
      position: absolute;
      top: 14px;
      left: 14px;
      width: 21px;
      height: 21px;
      background-position: -4px -60px;
  }
  .happybean{
      width: 34px;
      height: 11px;
      background-position: -143px -99px;
      position: absolute;
      right: 0px;
      top: 20px;
  }
  .happybean:hover{
      background-position: -136px -157px;
  }
  .green-container{
      width: 303px;
      height: 32px;
      box-sizing: border-box;
      padding: 16px 0 0 4px;
      display: flex;
      float: left;
  }
  .green-container>a{
      margin-left: 14px;
      height: 16px;
      display: block;
      float: left;
      z-index: 1;
   
  }
  .green-container>a:first-child{
      margin-left: 0px;
  }
  .mail { width: 25px; background-position: 0 -285px; }
  .cafe { width: 27px; background-position: -279px -52px; }
  .blog { width: 40px; background-position: -100px -182px; }
  .kin  { width: 40px; background-position: -101px -156px; }
  .shop { width: 26px; background-position: -279px -156px; }
  .pay  { width: 25px; background-position: -70px -285px; }
  .tv   { width: 32px; background-position: -125px -130px; margin-top: -1px; }

  .black-container{
      height: 38px;
      box-sizing: border-box;
      padding: 16px 0 0 14px;
      float: left;
  }
  .box-menu{
      height: 28px;
      width: 62px;
      border: 1px solid #e3e7ee;
      background-color: #fcfdfe;
      display: inline-block;
      margin-top: -8px;
  }
  .select{
      border-color: #00b336;
  }
  .black-box{
          height: 16px; 
          border: none;
          background-color: transparent;
          display: block;
          margin-top: 0px;
          float: left;
          margin-left: 14px;
  }
  .black-box:first-child{
      margin-left:0px;
  }
  .dic{width: 26px; background-position: -279px -208px;}
  .news{width: 28px; background-position: -128px -104px;}
  .stock{width: 26px; background-position: -36px -259px;}
  .deal{width: 40px; background-position: -151px -156px;}
  .map{width: 27px; background-position: -279px -130px;}
  .movie{width: 27px; background-position: -234px -233px;}
  .music{width: 26px; background-position: -72px -259px;}
  .book{width: 13px; background-position: -140px -78px;}
  .comic{width: 27px; background-position: -279px 0;}

  .an_bar{
      height: 14px;
      border: 0.5px solid #ebeef3;
      float: left;
      margin: 18px 16px 0;


  }
  .more{
      width: 55px;
      background-position: 0 -104px;
      margin-top: 16px;
      float: left;
      margin-left: 0px;
      cursor: pointer;
  }
  .fold{
      width: 42px;
      height: 15px;
      background-position: 0 -208px;
  }
   .gray_box{
      position: absolute;
      left: 0;
      right: 0;
      top: 178px;
      bottom: 0;
      background-color: black;
      opacity: 0.3;
      z-index: 10;
  }
  .white_box{
      position: absolute;
      left: 0;
      right: 0;
      top: 178px;
      height: 353px;
      background-color: white;
      z-index: 11;
  }
  /*.page_box{
      height: 34px;
      border-bottom: 1px solid #ebeef3;
  }
  .lef_btn{
      all: unset;
      width: 33px;
      height: 11px;
      border-left: 1px solid #ebeef3;
      text-align: center;
      cursor: pointer;
      padding: 11px 0;
      float:right;
  }
  .lef_icon{
      width: 6px;
      height: 11px;
      background-position: -433px -324px;
      display: inline-block;
      padding: 11px 0;
  }
  .rig_btn{
      all: unset;
      float: right;
      width: 33px;
      height: 11px;
      border-left: 1px solid #ebeef3;
      text-align: center;
      cursor: pointer;
      padding: 11px 0;
  }
  .rig_icon{
      width: 6px;
      height: 11px;
      background-position: -433px -303px;
      display: inline-block;
      padding: 11px 0;
  }
  .num_box_ori{
      position: absolute;
      right: 78px;
      height: 14px;
      color: #888;
      font-size: 12px;
      font-family: Tahoma,sans-serif;
      padding: 8px 0;
  }
  .num_box1{
      font-weight: bold;

  }
  */
  /* 오른쪽 두번째 컨텐츠 관련 css */
  .r2_top{
      height: 33px;
      border-bottom: 1px solid #ebeef3;
      padding-left: 15px;
  }
  .r2_top_left{
      float: left;
  }
  .r2_top_right{
    float: right;
}
  .r2_btn_box{
      display: flex;
  }
  .r2_btn{
      width: 34px;
      height: 33px;
      border-left: 1px solid #ebeef3;
      cursor: pointer;
      padding: 11px 0;
      text-align: center;
      display: flex;
      justify-content: center;
  }
  .r2_next_icon{
    width: 6px;
    height: 11px;
    background-position: -433px -324px;
    display: inline-block;
  }
  .r2_prev_icon{
    width: 6px;
    height: 11px;
    background-position: -433px -303px;
    display: inline-block;
  }
  .r2_page_box{
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 78px;
    color: #888;
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    line-height: 14px;
    
  }
  .r2_page_num1{
      font-weight: bold;
      color: black;
  }
  /* 왼쪽 3번째 컨텐츠 관련 css*/
  .l3_top{
      height: 45px;
      border-bottom: 1px solid #ebeef3;
  }
  .l3_bot{
      height: 200px;
      background-color: white;
  }
  .l3_bot2{
    display: flex;
    height: 67px;
    border-bottom: 1px solid #ebeef3;
  }
  .l3_bot2:last-of-type{
      border-bottom: none;
  }
  .l3_bot_logo{
      width: 100%;
      height: 100%;
      background-color: white;
      border: 1px solid #f1f3f6;
      padding: 21px 0 22px;
      text-align: center;
  }
  .l3_bot_logo:hover{
      background-color: #ebeef3;
  }
  /* .api_logo{
      
  } */
  .l3_line{
    top: 66px;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .l3_box{
      width: 95px;
      height: 30px;
      text-align: center;
      margin-left: 12px;
      display: flex;
      display:none;
  }
  .l3_box:hover{
      background-color: black;
  }
  .l3_gu{
    width: 36px;
    height: 100%;
    border: 1px solid #e3e7ee;
    background-color: #fff;
    color: #222;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 0;
    line-height: 12px;
    float: left;
    cursor: pointer;
  }
  .l3_gu:first-child{
      border-right: none;
  }
  .l3_gu_hover{
      border-color: #bec8d8;
      border-right: none;
  }
  
  .l3_gi{
    width: 59px;
    height: 100%;
    border: 1px solid #e3e7ee;
    background-color: #fff;
    color: #222;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 0;
    line-height: 12px;
    float: left;
    cursor: pointer;
  } 
  .l3_gi:hover{
    border-color: #bec8d8;
    }
  .l3_gi_hover{
    border-left: 1px solid #bec8d8;
    }
  /* 더보기 버튼 애들 */
  .an_bar2{
    padding-top: 8px;
    height: 37.8px;
    background: #fff;
    display: flex;
    float: right;
  }
  .menu_all{
    float: left;
    width: 98px;
    height: 28px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    font-size: 12px;
    line-height: 29px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_all:hover{
    border-color: #bec8d8;
 }
  .menu_sel{
    float: left;
    width: 68px;
    height: 28px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 29px;
    cursor: pointer;
  }
  .menu_sel:hover{
    border-color: #bec8d8;
 }
  .menu_cle{
    width: 27px;
    height: 27px;
    margin: 2px 0 0 9px;
    padding: 5px;
    background: #fff;
    cursor: pointer;
    float: left;
  }
  .menu_cle2{
    display: block;
    width: 17px;
    height: 17px;
    background-position: -191px -257px;
  }
  .menu_cle2:hover{
     background-position: -164px -257px;
  }
  .white_box_all{
      padding: 20px 0 15px;
      display: flex;
  }
  .white_box1{
    float: left;
    padding-left: 16px;
    width: 154px;
    height: 318px;
    border-right: 1px solid #f1f3f6;
  }
  .white_box1:first-of-type{
      width: 156px;
      border-left: 1px solid #f1f3f6;
  }
  .white_box1_h1{
    padding-top: 6px;
    color: #000;
    vertical-align: top;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }
  .white_box1_1{
    overflow: hidden;
    padding-top: 10px;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
  }
  .white_box1_1:first-of-type{
      padding-top: 14px;
  }
  .white_box1_1:hover{
      text-decoration: underline;
  }
  .menu_reset{
    float: left;
    width: 75px;
    height: 30px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 29px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
  }
  .menu_check{
    float: left;
    margin-left: 8px;
    width: 55px;
    height: 30px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 12px;
    font-size: 12px;
    line-height: 29px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
  }
  .menu_cancel{
    float: left;
    margin-left: 5px;
    width: 55px;
    height: 30px;
    border: 1px solid #e3e7ee;
    background: #fff;
    color: #444;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 29px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
  }
  .menu_reset_icon{
    float: left;
    margin-left: 7px;
    margin-top: 6px;
    width: 15px;
    height: 15px;
    background-position: -132px -291px;
    vertical-align: -3px;
}
.menu_reset:hover{
    border-color: #bec8d8;
    color: #00ab33;
}
.menu_check:hover{
    border-color: #bec8d8;
}
.menu_cancel:hover{
    border-color: #bec8d8;
}
.white_checkbox{
    all:unset;
    display: inline-block;
    margin-right: 8px;
    width: 15px;
    height: 15px;
    background-position: -28px -62px;
    vertical-align: -3px;
    backface-visibility: hidden;
}
.white_checkbox2{
    width: 15px;
    height: 15px;
    background-position: -53px -62px;
  
}
/* 인기검색어 */
.new_box_ul{
    list-style:none;
    
}
.search_new_box{
    position: absolute;
    top: 50%;
    overflow: hidden;
    right: 0;
    margin-top: -10px;
    width: 198px;
    height: 20px;
    padding: 2px 0 0 21px;
    z-index: 0;
}
.new_box_in_num{
    position: absolute;
    left: 0;
    min-width: 17px;
    text-align: center;
    font-family: Arial,Sans-serif;
    line-height: 18px;
    color: #00ab33;
    font-size: 16px;
    margin-top: 3px;
    height: 18px;
    
}
.new_box_in_text{
    margin-top: -1px;
    width: 140px;
    letter-spacing: -1px;
    font-size: 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 18px;
}
.new_box_icon{
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -3px;
    width: 11px;
    height: 6px;
    background-position: -223px -147px;
}
.real_search_link{
    text-decoration: none;
    color: black;
}
/* 실시간 뉴스 */
.news_cast{
    position: relative;
    padding: 15px 0 0 16px;
}
.news_casts{
    overflow: hidden;
    height: 20px;
    
}
.news_cast_1{
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
    font-size: 12px;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    width: 340px;
}
.news_main{
    margin: 0;
    padding: 0;
    float: left;
}
.news_main1{
    display: block;
    margin-right: 12px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 14px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_main_icon{
    display: inline-block;
    margin-left: 8px;
    width: 5px;
    height: 9px;
    background-position: -256px -100px;
    vertical-align: middle;
}
  /* 배경 이미지 관련 css */
  .bg1{
      background-image: url("https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg");
  }
  .bg2{
      background-image: url("https://s.pstatic.net/static/www/img/uit/2019/sp_main_v191029.png");
  }
  .bg3{
      background-image: url("https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png");
  }
  .bg4{
      background-image: url("https://s.pstatic.net/static/www/img/2017/sp_timesquare_v170913a.png");
  }
  .bg5{
      background-image: url("https://s.pstatic.net/static/www/img/2018/sp_themecast_v180607.png");
  }
  .bg6{
    background-image: url("https://s.pstatic.net/static/www/img/2018/sp_more_v180627.png");
  }
  .bg7{
    background-image: url("https://s.pstatic.net/static/www/img/uit/2019/sp_main_v191113.png");
  }
  .bg8{
    background-image: url("https://s.pstatic.net/static/www/img/2018/sp_newscast_v180511.png");
  }
  /*
  -position:absolute를 이용할 때 부모를 기준으로 잡기위해선 부모를 position:relatiive로 만든다.
  -background-position 을 이용하여 배경 이미지의 시작지점을 지정한다.  
  */
  /* footer와 관련된 css */
  .footer{
   height: 314px;
   margin-top: 8px;
  }
  /* 배경 색 관련 클래스 */
  .bg-white{
      background-color: white;
  }
  .bg-body{
      background-color: rgb(242,244,247);
  }
  /* 공통 클래스*/
  .display_none{
      display: none;
  }
 